<div class="avenir pa4 black-8">
    <h1 class="lh-copy">Welcome</h1>
    <h3 class="lh-copy">Rails 7 skeleton app with Devise and Bootstrap</h3>
    <%= link_to "Sign Up", new_user_registration_path, class: "avenir f6 link dim br2 ph3 pv2 mb2 dib white bg-dark-green" %>
</div>