<section class="mw8 mw8-ns center pt3">

  <h1 class="avenir f2 f1-m f-headline-l">Photos</h1>
  <h2 class="avenir f2 f1-m ">Year: <%= @start_year.year %></h2>

  <div id="photos">
    <% @photos.each do |photo| %>
      <%= render photo %>
    <% end %>
  </div>
</section>